@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:before,
*:after {
  box-sizing: inherit;
}

*:focus {
  @apply outline-none ring-2 ring-yellow-200 ring-opacity-50;
}

html {
  height: 100%;
  box-sizing: border-box;
  touch-action: manipulation;
  font-feature-settings: 'case' 1, 'rlig' 1, 'calt' 0;
}

html,
body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Helvetica Neue',
    'Helvetica', sans-serif;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  @apply text-white bg-gradient-to-b from-sky-800 to-blue-800 antialiased;
}

body {
  position: relative;
  min-height: 100%;
  margin: 0;
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.height-screen-helper {
  height: calc(100vh - 80px);
}
/* .archive-list li:nth-child(odd) {
  @apply bg-cyan-900
}
.archive-list li:nth-child(even) {
  @apply bg-violet-900
} */
.archive-list li {
  @apply text-zinc-400;
}
.archive-list li:nth-last-child(1),
.archive-list li:nth-last-child(2),
.archive-list li:nth-last-child(3),
.archive-list li:nth-last-child(4),
.archive-list li:nth-last-child(5) {
  @apply text-white;
}
